<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is signup page</title>

</head>
<body>
<section>
  <div class="conatainer">
  
  <div class="row">
      
      <div class="col-md-4 offset-md-4">
      
      <div class="my card mt-5">
      
<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
    <p class="text-center" th:text="${session.message.content}"></p>
</div>
   
      
       <h1 class="text-center">Register Here!!</h1>
       <form action="" th:action="@{/do_register}" method="post" th:object="${user}"   >
       
       
       <!-- name field -->
     

     <div class="form-group ml-2 mr-2">
    <label for="name_filed">Your Name</label>
    <input 
           name="name"
           type="text" 
           class="form-control" 
           th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"

           id="name_filed" 
           aria-describedby="emailHelp"
           placeholder="Enter here"
           required
           th:value="${user.name}"
           />
            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
             
           </div>
      
     </div>
    
       
         <!-- email field -->
       
       
          <div class="form-group ml-2 mr-2">
       
           <label for="email_filed">Your Email</label>
           
           
          <input
          name="email"
           type="email" 
          class="form-control" 
          id="email_filed" 
          aria-describedby="emailHelp"
          placeholder="Enter here"
          required
           th:value="${user.email}"
          >
          
          
          
           
       </div>
        
       
         <!-- password field -->
       
       
          <div class="form-group ml-2 mr-2">
       
           <label for="password_filed">Your Password</label>
           
           
          <input 
          name="password"
          type="password" 
          class="form-control" 
          id="password_filed" 
          aria-describedby="emailHelp"
          placeholder="Enter here"
          required
          
          >
          
          
          
           
       </div>
       
       
       
       <!-- user about field -->
       
       <div class="form-group ml-2 mr-2">
       
       <textarea  name= about th:value="${user.about}"  placeholder="Enter something yourself" rows="6" class="form-control"></textarea>
       
       </div>
       
       
       
       <!-- terms and condition agreement -->
        <div class="form-group form-check text-center">
        
         
         <input type="checkbox"
         name="agreement"
         class="form-check-input"
         id="agreement"
         
          />
          <label for="agreement">Accept terms and conditions</label>
         
         
        
        
        </div>
       
       <div class="conatainer text-center mb-1">
       <button type="submit" class="btn bg-primary  text-white">
       Submit
       </button>
       <button type="reset"  class="btn btn-warning  text-white">
       Reset
       </button>
         
       </div>
       
       </form>
       
       
      </div>
      
       
       
       
      </div>
      
   
      
      
      
     
  </div>
  </div>


</section>
     
</body>
</html> 